Repository Projecte-UrbanTree/UrbanTree, pull requests merged in 2024-12, with the labels that each got.

#159 refactor(db):update schema and fix foreign key references
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: area/database

#168 fix(tree-types): update links from create, edit and delete
  src/app/Views/Admin/TreeType/Create.php
  src/app/Views/Admin/TreeType/Edit.php
  src/app/Views/Admin/TreeTypes.php
Labels: area/app/views

#166 feat(auth): :closed_lock_with_key: passwords now bcrypt and seeder up…
  app/src/app/Controllers/Auth/AuthController.php
  app/src/app/Views/Auth/Login.php
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/controllers

#171 feat(api): integrate Sentry for error tracking and monitoring
  .env.example
  .github/workflows/main.yml
  api/Dockerfile
  api/requirements.txt
  api/src/app.py
  api/src/config.py
  api/tests/test_config.py
  compose.yml
Labels: kind/feature, area/api, area/docker, kind/dependencies, area/tests

#177 Enhance API with health check and configuration improvements
  .vscode/extensions.json
  .vscode/settings.json
  api/Dockerfile
  api/src/app.py
  api/src/config.py
  api/src/main.py
  api/src/models/sensor_model.py
  api/src/schemas/sensor.py
  api/src/services/sensor_service.py
  api/src/utils/file_loader.py
  api/tests/test_config.py
  compose.prod.yml
  compose.yml
Labels: kind/feature, area/api, area/docker, area/tests

#180 feat(ci): enhance release process with image versioning
  .github/workflows/main.yml
  .github/workflows/tests.yml
  api/Dockerfile
  api/src/config.py
  api/src/main.py
  api/tests/test_config.py
  app/Dockerfile
  compose.prod.yml
Labels: kind/feature, area/api, area/docker, area/tests

#183 refactor(workflows): separate CI & CD, and add reporting to Sentry
  .github/actions/release-sentry/action.yml
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/report.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
Labels: kind/improvement

#184 refactor(workflows): simplify tests
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr.yml
  .github/workflows/report.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .gitignore
  api/Dockerfile
  api/src/config.py
  api/tests/resources/.env.test
  api/tests/test_config.py
  app/Dockerfile
  app/phpunit.xml.dist
  compose.test.yml
Labels: area/api, area/docker, area/tests, kind/improvement

#150 feat(tree_types): Validation Tree Types
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Models/TreeType.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/public/assets/js/app.js
Labels: kind/feature, area/app/views, area/app/models

#148 feat(contract): add javascript validation
  app/src/app/Views/Admin/Contract/Create.php
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/public/assets/js/app.js
  database/start-scripts/0-init.sql
Labels: kind/feature, area/database, lifecycle/active, milestone/current, area/app/views, area/javascript

#185 feat(api): implement recurring executions
  api/requirements.txt
  api/sensors.json
  api/src/config.py
  api/src/database.py
  api/src/main.py
  api/src/models.py
  api/src/models/__init__.py
  api/src/models/sensor_model.py
  api/src/schemas/__init__.py
  api/src/schemas/sensor.py
  api/src/services/scheduler_service.py
  api/src/services/sensor_service.py
  api/src/utils/file_loader.py
  api/tests/resources/invalid_test_file_loader.json
  api/tests/test_config.py
  api/tests/test_file_loader.py
  api/tests/test_integration.py
  api/tests/test_main.py
  api/tests/test_scheduler_service.py
  api/tests/test_sensor_service.py
  compose.yml
  database/start-scripts/0-init.sql
Labels: area/database, area/api, area/docker, kind/dependencies, area/tests

#194 fix(api): update image version handling and remove SENTRY_RELEASE property
  api/src/config.py
  api/src/main.py
  api/tests/test_config.py
Labels: kind/bug, area/api, area/tests

#198 fix(workflows): update output variable for version in CD workflow
  .github/workflows/cd.yml
  api/src/config.py
  api/tests/test_config.py
Labels: kind/bug, area/api, area/tests

#199 refactor(workflows): migrate report after build
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/report.yml
Labels: kind/improvement

#200 fix(workflows): update version output step in CD workflow
  .github/workflows/cd.yml
Labels: kind/bug

#152 refactor(bug-report): update elements on form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: lifecycle/active, milestone/current

#197 feat: create ElementType
  app/src/app/Controllers/Admin/ElementTypeController.php
  app/src/app/Models/BaseModel.php
  app/src/app/Models/Contract.php
  app/src/app/Models/Element.php
  app/src/app/Models/ElementType.php
  app/src/app/Models/Incidence.php
  app/src/app/Models/Machine.php
  app/src/app/Models/Photo.php
  app/src/app/Models/Point.php
  app/src/app/Models/PruningType.php
  app/src/app/Models/Role.php
  app/src/app/Models/Route.php
  app/src/app/Models/Sensor.php
  app/src/app/Models/SensorHistory.php
  app/src/app/Models/Task.php
  app/src/app/Models/TaskType.php
  app/src/app/Models/TreeType.php
  app/src/app/Models/User.php
  app/src/app/Models/WorkOrder.php
  app/src/app/Models/WorkReport.php
  app/src/app/Models/Zone.php
  app/src/app/Models/ZonePredefined.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/routes/admin.php
Labels: area/app/views, area/app/models, area/app/controllers, area/routes

#202 Add Task model and update Order management features
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/public/assets/js/app.js
Labels: kind/feature, area/app/views, area/app/controllers, area/javascript

#203 feat: create and manage element types functionality
  app/src/app/Controllers/Admin/ElementController.php
  app/src/app/Models/Element.php
  app/src/app/Models/ElementType.php
  app/src/app/Models/Zone.php
  app/src/app/Models/ZonePredefined.php
  app/src/app/Views/Admin/Element/Create.php
  app/src/app/Views/Admin/Element/Edit.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/Elements.php
  database/start-scripts/0-init.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers

#206 fix(layouts): improve admin layout with stick navbar mobile
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/public/assets/js/tailwind.js
Labels: kind/bug, area/app/views, area/javascript

#208 feat: add cookie, privacy, and terms and conditions pages with routing
  app/src/app/Controllers/AppController.php
  app/src/app/Layouts/PublicLayout.php
  app/src/app/Views/Documents/CookiePolicy.php
  app/src/app/Views/Documents/PrivacyPolicy.php
  app/src/app/Views/Documents/TermsConditions.php
  app/src/public/assets/js/cookieconsent-config.js
  app/src/routes/app.php
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/controllers, area/routes, area/javascript

#216 fix: typo in text-red class for error messages in forms
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
Labels: kind/bug, area/app/views

#215 feat: inventary with the map
  .env.example
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Views/Admin/Inventory.php
  compose.yml
Labels: kind/feature, area/app/views, area/docker

#217 docs: add EUPL license
  .github/labeler.yml
  LICENSE
Labels: kind/docs

#220 Add user configuration management and localization features
  app/src/app/Controllers/Admin/AccountController.php
  app/src/app/Controllers/Auth/AuthController.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Views/Admin/AccountConfig/AccountConfig.php
  app/src/public/assets/js/app.js
  app/src/routes/admin.php
Labels: kind/feature, area/app/views, area/app/controllers, area/routes, area/javascript

#222 fix: :ambulance: remove success and error messages from session after view render
  app/src/app/Core/View.php
Labels: kind/bug

#223 feat: map user geolocation
  app/src/app/Views/Admin/Inventory.php
Labels: kind/feature, area/app/views

#226 refactor: remove privacy and terms conditions, and update cookie consent footer with seasonal emoji
  app/src/app/Controllers/AppController.php
  app/src/app/Views/Documents/PrivacyPolicy.php
  app/src/app/Views/Documents/TermsConditions.php
  app/src/public/assets/js/cookieconsent-config.js
  app/src/routes/app.php
Labels: area/app/views, area/app/controllers, area/routes, kind/improvement, area/javascript

#227 refactor: update date labels from "Fecha de inicio" and "Fecha de fin" to "Fecha inicial" and "Fecha final"
  app/src/app/Views/Admin/Contract/Create.php
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/Contracts.php
  app/src/public/assets/js/app.js
Labels: area/app/views, kind/improvement, area/javascript
