Repository Projecte-UrbanTree/UrbanTree, pull requests merged in 2024-11, with the labels that each got.

#37 Refactor Docker structure and update documentation
  .gitattributes
  .gitignore
  .vscode/settings.json
  Dockerfile
  README.md
  composer.json
  composer.lock
  docker-compose.yml
  docker/apache/Dockerfile
  docker/apache/conf.d/custom-apache.conf
  docker/apache/conf.d/xdebug.ini
  docker/mariadb/start-scripts/init.sql
  src/.gitignore
  src/composer.json
  src/composer.lock
  src/public/index.php
Labels: type: docs, type: feature

#38 Add database tables and relationships
  docker/mariadb/start-scripts/init.sql
Labels: n: database, type: fix

#43 Refactor database logic and update Docker configurations
  .gitignore
  .vscode/launch.json
  README.md
  composer.json
  composer.lock
  docker-compose.yml
  docker/apache/Dockerfile
  docker/apache/conf.d/custom-apache.conf
  docker/apache/conf.d/xdebug.ini
  docker/database/Dockerfile
  docker/database/start-scripts/0-init.sql
  docker/secrets/database-password.txt
  docker/server/Dockerfile
  src/.htaccess
  src/app/Core/Database.php
  src/app/Core/Logger.php
  src/app/Core/Router.php
  src/app/Core/Session.php
  src/app/Core/View.php
  src/public/.htaccess
  src/public/index.php
  tests/HelloWorldTest.php
Labels: area/database, kind/structure, milestone/current

#61 fix(docker-database): improve behavior so that initialization scripts are executed every time a file changes
  Dockerfile
  docker-compose.yml
  src/app/Core/Database.php
Labels: kind/feature, area/database, area/structure

#64 refactor(structure): move bootstrap and routes to app folder
  src/app/bootstrap.php
  src/app/routes.php
  src/public/index.php
Labels: area/structure

#70 feat(tree-type): add TreeType
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/TreeTypeController.php
  src/app/Models/TreeType.php
  src/app/Views/TreeType.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#69 feat(contract): add Contract
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/ContractController.php
  src/app/Models/Contract.php
  src/app/Models/TreeType.php
  src/app/Views/Contracts.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#65 feat(task-type): add TaskType
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/TaskTypeController.php
  src/app/Models/TaskType.php
  src/app/Views/TaskTypes/index.php
Labels: kind/feature, area/database, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#66 feat(pruning-type): add PruningType
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/PruningTypeController.php
  src/app/Models/PruningType.php
  src/app/Views/PruningType.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#68 feat(elements): add Elements
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/ElementController.php
  src/app/Models/Element.php
  src/app/Views/Element.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#60 feat(incidence): add Incidence
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/IncidenceController.php
  src/app/Models/Incidence.php
  src/app/Views/Incidence.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#75 refactor(app): rename for consistency and format files
  .editorconfig
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/CAuth.php
  src/app/Controllers/CContract.php
  src/app/Controllers/CElement.php
  src/app/Controllers/CHome.php
  src/app/Controllers/CIncidence.php
  src/app/Controllers/CPruningType.php
  src/app/Controllers/CTaskType.php
  src/app/Controllers/CTreeType.php
  src/app/Controllers/CZone.php
  src/app/Core/BaseModel.php
  src/app/Core/Logger.php
  src/app/Core/Router.php
  src/app/Core/Session.php
  src/app/Core/View.php
  src/app/Layouts/AuthLayout.php
  src/app/Layouts/MainLayout.php
  src/app/Models/MContract.php
  src/app/Models/MElement.php
  src/app/Models/MIncidence.php
  src/app/Models/MPoint.php
  src/app/Models/MPruningType.php
  src/app/Models/MRole.php
  src/app/Models/MTaskType.php
  src/app/Models/MTreeType.php
  src/app/Models/MWorker.php
  src/app/Models/MZone.php
  src/app/Views/Auth/Login.php
  src/app/Views/Contracts.php
  src/app/Views/Home.php
  src/app/Views/TreeType.php
  src/app/bootstrap.php
  src/app/routes.php
  src/public/index.php
Labels: area/database, kind/cleanup, area/structure, area/app/models, area/app/controllers

#73 feat(work-order): add WorkOrder
  docker/database/start-scripts/0-init.sql
  docker/database/start-scripts/1-seed.sql
  src/app/Controllers/CWorkOrder.php
  src/app/Core/BaseModel.php
  src/app/Models/MTask.php
  src/app/Models/MWorkOrder.php
  src/app/Views/order/create.php
  src/app/Views/order/index.php
Labels: kind/feature, lifecycle/active, milestone/current, area/app/views, area/app/models, area/app/controllers

#115 feat: add Dependabot configuration for version updates
  .github/dependabot.yml
Labels: kind/feature, area/docker, kind/dependencies

#112 feat(contract): add views
  src/app/Controllers/ContractController.php
  src/app/Models/BaseModel.php
  src/app/Views/Contract/Create.php
  src/app/Views/Contract/Edit.php
  src/app/Views/Contracts.php
  src/routes/web.php
Labels: kind/feature, area/app/views, area/app/models, area/app/controllers, area/routes

#117 feat(ci): add test and build workflow
  .editorconfig
  .github/release.yml
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  docker-compose.yml
  docker/secrets/database-password.txt
  phpunit.xml.dist
  src/app/Core/Database.php
  src/public/index.php
  tests/DatabaseTest.php
  tests/HelloWorldTest.php
  tests/bootstrap.php
Labels: kind/feature, lifecycle/active, milestone/current, area/docker, triage/webgrafia

#124 feat(ci): add test and build workflow
  .editorconfig
  .github/release.yml
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  docker-compose.yml
  docker/secrets/database-password.txt
  phpunit.xml.dist
  src/app/Core/Database.php
  src/public/index.php
  tests/DatabaseTest.php
  tests/HelloWorldTest.php
  tests/bootstrap.php
Labels: kind/feature, area/database, area/structure, area/docker, area/tests

#132 feat(ci): enhance CI/CD workflows and issue management
  .github/labeler.yml
  .github/workflows/docker.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  .vscode/settings.json
  Dockerfile
  database/start-scripts/.gitignore
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/docker

#133 feat(database): add updated_at and deleted_at columns to multiple tables
  database/start-scripts/0-init.sql
Labels: area/database

#140 Issue/134 enhance router implementation parameters middlewares and route splitting
  src/app/Controllers/AuthController.php
  src/app/Controllers/ContractController.php
  src/app/Controllers/DashboardController.php
  src/app/Controllers/ElementController.php
  src/app/Controllers/IncidenceController.php
  src/app/Controllers/PruningTypeController.php
  src/app/Controllers/TaskTypeController.php
  src/app/Controllers/TreeTypeController.php
  src/app/Controllers/UserController.php
  src/app/Controllers/WorkOrderController.php
  src/app/Controllers/ZoneController.php
  src/app/Core/Router.php
  src/app/bootstrap.php
  src/public/index.php
  src/routes/admin.php
  src/routes/auth.php
  src/routes/web.php
Labels: area/app/controllers, area/routes

#139 refactor(router): route loading and fix routing issue with query parameters
  src/app/Controllers/AuthController.php
  src/app/Controllers/ContractController.php
  src/app/Controllers/DashboardController.php
  src/app/Controllers/ElementController.php
  src/app/Controllers/IncidenceController.php
  src/app/Controllers/PruningTypeController.php
  src/app/Controllers/TaskTypeController.php
  src/app/Controllers/TreeTypeController.php
  src/app/Controllers/UserController.php
  src/app/Controllers/WorkOrderController.php
  src/app/Controllers/ZoneController.php
  src/app/Core/Router.php
  src/app/bootstrap.php
  src/public/index.php
  src/routes/admin.php
  src/routes/auth.php
  src/routes/web.php
Labels: area/app/controllers, area/routes

#142 chore: update Docker configuration and refactor tests
  .vscode/settings.json
  composer.json
  docker-compose.yml
  phpunit.xml.dist
  src/app/bootstrap.php
  tests/Feature/ExampleTest.php
  tests/TestCase.php
  tests/Unit/DatabaseTest.php
  tests/bootstrap.php
Labels: area/docker, triage/webgraphy, kind/dependencies, area/tests
