Repository Projecte-UrbanTree/UrbanTree, pull requests merged in 2025-01, with the labels that each got.

#229 refactor: view paths and enhance edit forms
  app/src/app/Controllers/Admin/ContractController.php
  app/src/app/Controllers/Admin/ElementTypeController.php
  app/src/app/Controllers/Admin/TaskTypeController.php
  app/src/app/Controllers/Admin/TreeTypeController.php
  app/src/app/Controllers/Admin/UserController.php
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Models/ElementType.php
  app/src/app/Models/TreeType.php
  app/src/app/Views/Admin/Contract/Contracts.php
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/Element/Create.php
  app/src/app/Views/Admin/Element/Edit.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementType/ElementTypes.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/Elements.php
  app/src/app/Views/Admin/Incidence/Create.php
  app/src/app/Views/Admin/Incidence/SeeAllIncidences.php
  app/src/app/Views/Admin/TaskType/Edit.php
  app/src/app/Views/Admin/TaskType/TaskTypes.php
  app/src/app/Views/Admin/TaskTypes.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/app/Views/Admin/TreeType/TreeTypes.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/User/Users.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrder/WorkOrders.php
  app/src/app/Views/Admin/Zone/Create.php
  app/src/app/Views/Admin/Zone/Edit.php
  app/src/app/Views/Admin/Zones.php
Labels: area/app/views, area/app/models, area/app/controllers, kind/improvement

#210 feat: work orders view
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Models/Task.php
  app/src/app/Models/WorkOrder.php
  app/src/app/Models/WorkOrderBlock.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Models/Zone.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/WorkOrders.php
  app/src/public/assets/js/app.js
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers, area/javascript

#236 feat: add create work order view and new models
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Models/WorkOrderBlockZone.php
  app/src/app/Models/WorkOrderUser.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/WorkOrders.php
  app/src/public/assets/js/app.js
Labels: kind/feature, area/app/views, area/app/models, area/app/controllers, area/javascript

#237 fix(work-order): avoid duplication of blocks/tasks and correct updateBlocks
  app/src/public/assets/js/app.js
Labels: kind/bug, area/javascript

#238 refactor: user crud, password hashing and contract selection
  app/src/app/Controllers/Admin/ContractController.php
  app/src/app/Controllers/Admin/UserController.php
  app/src/app/Controllers/Auth/AuthController.php
  app/src/app/Core/Router.php
  app/src/app/Core/View.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Models/User.php
  app/src/app/Views/Admin/User/Create.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/User/Users.php
  app/src/public/assets/js/app.js
  app/src/routes/admin.php
Labels: kind/feature, area/app/views, area/app/models, area/app/controllers, area/routes, area/javascript

#233 refactor: inventory filters menu
  app/src/app/Views/Admin/Inventory.php
  app/src/public/assets/images/More.png
Labels: kind/feature, area/app/views

#239 refactor: :art: big design update with new features
  app/src/app/Controllers/Admin/AccountController.php
  app/src/app/Controllers/Admin/ContractController.php
  app/src/app/Controllers/Admin/ElementTypeController.php
  app/src/app/Controllers/Admin/TaskTypeController.php
  app/src/app/Controllers/Admin/TreeTypeController.php
  app/src/app/Controllers/Admin/UserController.php
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Controllers/AppController.php
  app/src/app/Controllers/Auth/AuthController.php
  app/src/app/Core/Router.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Layouts/AuthLayout.php
  app/src/app/Layouts/BlankLayout.php
  app/src/app/Layouts/PublicLayout.php
  app/src/app/Views/Admin/Account.php
  app/src/app/Views/Admin/AccountConfig/AccountConfig.php
  app/src/app/Views/Admin/Contract/Contracts.php
  app/src/app/Views/Admin/Contract/Create.php
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/Dashboard.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementType/ElementTypes.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/Incidence.php
  app/src/app/Views/Admin/TaskType/Create.php
  app/src/app/Views/Admin/TaskType/Edit.php
  app/src/app/Views/Admin/TaskType/TaskTypes.php
  app/src/app/Views/Admin/TaskTypes.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/app/Views/Admin/TreeType/TreeTypes.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/app/Views/Admin/User/Create.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/User/Users.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrder/WorkOrders.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/Auth/Login.php
  app/src/app/Views/CookiePolicy.php
  app/src/app/Views/Documents/CookiePolicy.php
  app/src/app/Views/Error.php
  app/src/app/Views/License.php
  app/src/public/assets/css/app.css
  app/src/public/assets/favicon/favicon.ico
  app/src/public/assets/images/favicon.ico
  app/src/public/assets/images/isotype.png
  app/src/public/assets/images/logo.png
  app/src/public/assets/js/tailwind.js
  app/src/routes/admin.php
  app/src/routes/app.php
Labels: area/app/views, area/app/controllers, area/routes, kind/improvement, area/javascript

#240 fix: design errors after big design and layout update
  app/src/app/Layouts/PublicLayout.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/TaskTypes.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/License.php
  app/src/public/assets/css/app.css
Labels: kind/bug, area/app/views

#241 fix: error 500 when not valid contracts found
  app/src/app/Controllers/Auth/AuthController.php
  database/start-scripts/1-seed.sql
Labels: kind/bug, area/database, area/app/controllers

#242 feat: add work-orders.js script to AdminLayout and fix updateBlock
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Models/BaseModel.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Models/WorkOrderBlockZone.php
  app/src/app/Models/WorkOrderUser.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/public/assets/js/app.js
  app/src/public/assets/js/work-orders.js
Labels: kind/feature, area/app/views, area/app/models, area/app/controllers, area/javascript

#234 feat: add sensor history display
  .vscode/extensions.json
  .vscode/settings.json
  api/requirements.txt
  api/src/main.py
  api/src/static/not_found.css
  api/src/static/sensor_detail.css
  api/src/static/styles.css
  api/src/templates/index.html
  api/src/templates/not_found.html
  api/src/templates/sensor_detail.html
Labels: kind/feature, area/api, kind/dependencies

#244 fix: prevent modification and deletion of the only admin user
  app/src/app/Controllers/Admin/UserController.php
Labels: kind/bug, area/app/controllers

#245 feat: inventory map for admin
  app/src/app/Controllers/Admin/ElementTypeController.php
  app/src/app/Controllers/Admin/InventoryController.php
  app/src/app/Controllers/Admin/ZoneController.php
  app/src/app/Controllers/Api/MapController.php
  app/src/app/Core/Router.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Models/Element.php
  app/src/app/Models/ElementType.php
  app/src/app/Models/Point.php
  app/src/app/Models/Zone.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/Inventory.php
  app/src/public/assets/css/app.css
  app/src/public/assets/js/map.js
  app/src/routes/api.php
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers, area/routes, area/javascript

#228 refactor: simplify javascript validations converting to POO
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Views/Admin/Account.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/TaskType/Create.php
  app/src/app/Views/Admin/TaskType/Edit.php
  app/src/app/Views/Admin/User/Create.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/public/assets/js/app.js
  app/src/public/assets/js/validations.js
Labels: area/app/views, kind/improvement, area/javascript

#248 refactor: update FontAwesome CDN kit link
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Layouts/AuthLayout.php
  app/src/app/Layouts/PublicLayout.php
Labels: area/app/views, kind/improvement

#247 refactor: validate password change and input handling
  app/src/app/Controllers/Admin/AccountController.php
  app/src/app/Views/Admin/Account.php
  app/src/public/assets/js/app.js
Labels: kind/bug, area/app/views, area/app/controllers, area/javascript

#249 refactor: enhance map adding information modal, change visibility icon and store element description
  app/src/app/Controllers/Api/MapController.php
  app/src/app/Views/Admin/Inventory.php
  app/src/public/assets/js/map.js
  app/src/routes/api.php
  database/start-scripts/1-seed.sql
Labels: area/database, area/app/views, area/app/controllers, area/routes, kind/improvement, area/javascript

#250 refactor(favicon): improve favicon
  app/src/public/assets/images/favicon.ico
Labels: kind/improvement

#252 feat(background): background-ui
  app/src/public/assets/css/app.css
  app/src/public/assets/images/background-pattern.svg
Labels: kind/feature

#251 refactor: update layout and styling, change menu icons and some tweaks
  app/src/app/Controllers/Admin/TreeTypeController.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Layouts/AuthLayout.php
  app/src/app/Layouts/PublicLayout.php
  app/src/app/Views/Admin/Account.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/Dashboard.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/Inventory.php
  app/src/app/Views/Admin/TaskTypes.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/Auth/Login.php
  app/src/public/assets/css/app.css
Labels: kind/bug, area/app/views, area/app/controllers

#257 refactor(map): method names, definitions, new structure and improvements on map.js
  app/src/app/Controllers/Api/MapController.php
  app/src/app/Layouts/Admin/AdminInventoryLayout.php
  app/src/app/Views/Admin/Inventory.php
  app/src/public/assets/images/More.png
  app/src/public/assets/images/avatar.png
  app/src/public/assets/images/favicon.ico
  app/src/public/assets/js/map.js
  app/src/routes/api.php
Labels: area/app/views, area/app/controllers, area/routes, kind/improvement, area/javascript

#255 Feat/work orders workers
  app/src/app/Controllers/Admin/ResourceController.php
  app/src/app/Controllers/Admin/TypeResourceController.php
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Controllers/Worker/WorkOrderController.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Layouts/Worker/WorkerLayout.php
  app/src/app/Models/BaseModel.php
  app/src/app/Models/Machine.php
  app/src/app/Models/Resource.php
  app/src/app/Models/TypeResource.php
  app/src/app/Models/WorkOrder.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Models/WorkReport.php
  app/src/app/Models/WorkReportResource.php
  app/src/app/Views/Admin/Resource/Create.php
  app/src/app/Views/Admin/Resource/Edit.php
  app/src/app/Views/Admin/Resources.php
  app/src/app/Views/Admin/TypeResource/Create.php
  app/src/app/Views/Admin/TypeResource/Edit.php
  app/src/app/Views/Admin/TypeResources.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/Customer/WorkOrders.php
  app/src/app/Views/Worker/WorkOrders.php
  app/src/public/assets/js/work-orders.js
  app/src/public/assets/js/worker.js
  app/src/routes/admin.php
  app/src/routes/worker.php
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers, area/routes, area/javascript

#261 fix: compress background image
  app/src/public/assets/css/app.css
  app/src/public/assets/images/background-pattern.svg
Labels: kind/improvement

#264 chore: add database secret seeding step in workflow
  .github/workflows/database.yml
Labels: kind/feature, area/database

#265 feat: add work report model
  app/src/app/Controllers/Admin/WorkOrderController.php
  app/src/app/Controllers/Worker/WorkOrderController.php
  app/src/app/Layouts/Worker/WorkerLayout.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Models/WorkReport.php
  app/src/app/Models/WorkReportResource.php
  app/src/app/Views/Admin/Inventory.php
  app/src/app/Views/Admin/Resource/Create.php
  app/src/app/Views/Admin/Resources.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/Worker/WorkOrders.php
  app/src/public/assets/js/validations.js
  app/src/public/assets/js/work-orders.js
  app/src/public/assets/js/worker.js
  app/tests/Unit/DatabaseTest.php
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers, area/tests, area/javascript

#253 Refactor and enhance sensor models and API endpoints
  api/src/database.py
  api/src/main.py
  api/src/models.py
  api/src/models/__init__.py
  api/src/models/api_response_model.py
  api/src/models/contract_model.py
  api/src/models/element_model.py
  api/src/models/element_type_model.py
  api/src/models/point_model.py
  api/src/models/sensor_history_model.py
  api/src/models/sensor_model.py
  api/src/models/user_model.py
  api/src/models/zone_model.py
  api/src/routers/__init__.py
  api/src/routers/pages.py
  api/src/routers/sensors.py
  api/src/schemas/sensor_response.py
  api/src/services/sensor_service.py
  api/src/templates/index.html
  api/src/templates/sensor_detail.html
  api/tests/test_integration.py
  api/tests/test_sensor_service.py
Labels: kind/feature, area/api, area/tests

#266 fix(map): bugs found after big map update
  app/src/public/assets/js/map.js
  database/start-scripts/1-seed.sql
Labels: kind/bug, area/database, area/javascript

#270 fix(map): bugs and tweaks to improve usability
  app/src/public/assets/js/map.js
  database/start-scripts/1-seed.sql
Labels: kind/bug, area/database, area/javascript

#271 refactor: sensor models and API endpoints
  api/src/database.py
  api/src/main.py
  api/src/models.py
  api/src/models/__init__.py
  api/src/models/api_response_model.py
  api/src/models/contract_model.py
  api/src/models/element_model.py
  api/src/models/element_type_model.py
  api/src/models/point_model.py
  api/src/models/sensor_history_model.py
  api/src/models/sensor_model.py
  api/src/models/user_model.py
  api/src/models/zone_model.py
  api/src/routers/__init__.py
  api/src/routers/pages.py
  api/src/routers/sensors.py
  api/src/schemas/sensor_response.py
  api/src/services/sensor_service.py
  api/src/templates/index.html
  api/src/templates/sensor_detail.html
  api/tests/test_integration.py
  api/tests/test_sensor_service.py
Labels: kind/feature, area/api, area/tests

#273 fix: update WorkOrder model to allow nullable WorkReport and handle observation safely
  app/src/app/Models/WorkOrder.php
  app/src/app/Views/Worker/WorkOrders.php
Labels: kind/bug, area/app/views, area/app/models

#263 feat: add admin statistics route and controller
  app/src/app/Controllers/Admin/StatsController.php
  app/src/app/Models/WorkOrderBlock.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Views/Admin/Stats.php
  app/src/public/assets/js/stats.js
  app/src/routes/admin.php
  database/start-scripts/0-init.sql
Labels: kind/feature, area/database, area/app/views, area/app/models, area/app/controllers, area/routes, area/javascript

#267 Refactor API structure and improve import organization
  api/src/main.py
  api/src/routers/v1/pages.py
  api/src/routers/v1/sensors.py
  api/src/templates/not_found.html
Labels: kind/feature, area/api

#275 feat: implement incidence management to admin inventory map
  api/src/main.py
  app/src/app/Controllers/Admin/StatsController.php
  app/src/app/Controllers/Api/MapController.php
  app/src/app/Core/Router.php
  app/src/app/Layouts/Admin/AdminLayout.php
  app/src/app/Layouts/AuthLayout.php
  app/src/app/Layouts/PublicLayout.php
  app/src/app/Layouts/Worker/WorkerLayout.php
  app/src/app/Models/Incidence.php
  app/src/app/Models/Sensor.php
  app/src/app/Models/WorkOrder.php
  app/src/app/Models/WorkOrderBlockTask.php
  app/src/app/Views/Admin/Account.php
  app/src/app/Views/Admin/Contract/Create.php
  app/src/app/Views/Admin/Contract/Edit.php
  app/src/app/Views/Admin/Contracts.php
  app/src/app/Views/Admin/Dashboard.php
  app/src/app/Views/Admin/ElementType/Create.php
  app/src/app/Views/Admin/ElementType/Edit.php
  app/src/app/Views/Admin/ElementTypes.php
  app/src/app/Views/Admin/Inventory.php
  app/src/app/Views/Admin/Resource/Create.php
  app/src/app/Views/Admin/Resource/Edit.php
  app/src/app/Views/Admin/ResourceType/Create.php
  app/src/app/Views/Admin/ResourceType/Edit.php
  app/src/app/Views/Admin/ResourceTypes.php
  app/src/app/Views/Admin/Resources.php
  app/src/app/Views/Admin/Stats.php
  app/src/app/Views/Admin/TaskType/Create.php
  app/src/app/Views/Admin/TaskType/Edit.php
  app/src/app/Views/Admin/TaskTypes.php
  app/src/app/Views/Admin/TreeType/Create.php
  app/src/app/Views/Admin/TreeType/Edit.php
  app/src/app/Views/Admin/TreeTypes.php
  app/src/app/Views/Admin/User/Create.php
  app/src/app/Views/Admin/User/Edit.php
  app/src/app/Views/Admin/Users.php
  app/src/app/Views/Admin/WorkOrder/Create.php
  app/src/app/Views/Admin/WorkOrder/Edit.php
  app/src/app/Views/Admin/WorkOrders.php
  app/src/app/Views/Auth/Login.php
  app/src/app/Views/Worker/WorkOrders.php
  app/src/public/assets/js/map.js
  app/src/public/assets/js/work-orders.js
  app/src/routes/admin.php
  app/src/routes/api.php
  database/start-scripts/0-init.sql
  database/start-scripts/1-seed.sql
Labels: kind/feature, area/database, area/api, area/app/views, area/app/models, area/app/controllers, area/routes, area/javascript

#276 fix: update incidence check to filter by open status and adjust related variable naming
  app/src/app/Controllers/Api/MapController.php
  app/src/app/Models/Sensor.php
  app/src/public/assets/js/map.js
  database/start-scripts/0-init.sql
Labels: kind/bug, area/database, area/app/models, area/app/controllers, area/javascript

#277 fix: update API connection string for fetching sensor history
  app/src/public/assets/js/map.js
Labels: kind/bug, area/javascript

#279 style: improve code formatting and consistency in AdminLayout.php
  app/src/app/Layouts/Admin/AdminLayout.php
Labels: kind/design, area/app/views, release:minor
